<div class="story-body scrollytelling">
    <h2 class='chart-headline'>Poverty-stricken Districts Have Led the Charge</h2>
    <p class='chart-description'>As a whole, the city is recycling more of its waste, but certain districts have regressed in their recycling habits over the past decade. The slack has hindered the the Department of Sanitation's zero waste dreams.</p>
    <input class="slider" id="myRange">
    <div id='slider-range'></div>
    <div id="chart-change" class='chart'></div>

    <div class='steps'>
        <div class='step' id='step1'>
            <p>The city as a whole has made a slight gain in its diversion rate, up from 21% of trash recycled in 2009 to 23% in 2018.</p>
        </div>
        <div class='step' id='step2'>
            <p>The push was fueled by the poverty-stricken districts that recycled considerably more, particularly in the Bronx.</p>
            <p class='note'>**High poverty rate defined as greater than 15%</p>
        </div>
        <div class='step' id='step2'>
            <p>The Department of Sanitation's concerted education efforts with neighborhood institutions in the last decade helped bridge cultural barriers, such as language, in these areas, according to Espinoza.</p>
        </div>
        <div class='step' id='step3'>
            <p>But when it came to districts that are recycling less, the five culprits were spread across lower Manhattan, Staten Island and Brooklyn.</p>
        </div>
        <div class='step' id='step-'>
            <p>The two chart-topping districts were among the cluster of wealth-concentrated cluster in lower Manhattan and northwestern Brooklyn.</p>
            <p class='note'>**High income defined as a district having a median household income of greater than $90,000. The city's median is nearly $58,000, per the Census.</p>
        </div>
        <div class='step' id='step4'>
            <p>These Manhattan districts, CD 1 and CD 6, faced the starkest drops.</p>
        </div>
        <div class='step' id='step5'>
            <p>The greatest fall was in the elite Community District 1, which contains Wall Street, Tribeca and Battery Park City. The district's recycling fell six percentage points, from 53% in 2009 to 47% in 2018.</p>
        </div>
        <div class='step' id='step5'>
            <p>The district is tied for the wealthiest in the city with a median household income of $121,000, more than double the city's median of nearly $58,000.</p>
        </div>
        
    </div>
</div>

<div class='story-body'>
  <p>Department of Sanitation officials, sociologists and enviornmental advocates are stumped as to why these five districts have reported decreases and offered no speculation. But Adriana Espinoza, New York City Program Director for the New York League of Conservation Voters, said it comes down to the fact that officials haven't placed enough resources into <a href='https://www1.nyc.gov/assets/dsny/site/our-work/zero-waste' target='_blank'>Zero Waste</a>, the city's initiative to contribute no waste to landfills by 2030.</p>

  <p>So far, most of DSNY's education campaigns have targeted specific communities, especially immigrant and poverty-stricken communities where cultural and language barriers anguished efforts for years. But in order to reach Zero Waste's goal, Espinoza said the city would have to put in money, time and resources akin to VisionZero, the city's popular intiative to prevent traffic accidents and fatalities that has boasted impressive numbers.</p>

  <p>"Our point that we try to make is that we don't think that that's enough," Espinoza said. "We'd like to see Zero Waste education on that same level."</p>
</div>
{{!-- <div class="story-body">
    <h2 class='chart-headline'>A scatterplot of poverty vs recycling changes</h2>
    <p class='chart-description'>uhhhhh</p>
    <div id="scatter-districts"></div>
</div> --}}

<script src="scripts/pct_change.js"></script>
{{!-- <script src="scripts/scatter-districts.js"></script> --}}
