<div class="story-body scrollytelling">
    <h2 class='chart-headline'>Poverty-stricken Districts Have Led the Charge</h2>
    <p class='chart-description'>New York as a whole is recycling more, up from a diversion rate of 17% in 2009 to 19% in 2018. The jump is largely thanks to high-poverty community districts, where targeted community outreach played a role in boosting diversion rates.</p>
    <input class="slider" id="myRange">
    <div id='slider-range'></div>
    <div id="chart-change" class='chart'></div>

    <div class='steps'>
        <div class='step' id='step1'>
            <p>The city's current state of recycling has been years in the making, with notable increases starting around 2011, according to DSNY spokesperson Belinda Mager.</p>
        </div>
        <div class='step' id='step2'>
            <p>The push was fueled by the poverty-stricken districts that recycled considerably more, particularly in the Bronx.</p>
            <p class='note'>**High poverty rate defined as greater than 15%</p>
        </div>
        <div class='step' id='step2'>
            <p>The Department of Sanitation's concerted education efforts with neighborhood institutions in the last decade helped bridge cultural barriers, such as language, in these areas, according to Espinoza.</p>
        </div>
        <div class='step' id='step3'>
            <p>But when it came to districts that are recycling less, the five culprits were spread across lower Manhattan, Staten Island and Brooklyn.</p>
        </div>
        <div class='step' id='step-'>
            <p>The two chart-topping districts are among the high-wealth cluster in lower Manhattan and northwestern Brooklyn.</p>
            <p class='note'>**High income defined as a district having a median household income of greater than $90,000. The city's median is nearly $58,000, per the Census.</p>
        </div>
        <div class='step' id='step4'>
            <p>These Manhattan districts, CD 1 and CD 6, faced the starkest drops. They’re also extremely wealthy.</p>
        </div>
        <div class='step' id='step5'>
            <p>The greatest fall was in the elite Community District 1, which contains Wall Street, Tribeca and Battery Park City. The district's diversion rate fell six percentage points, from 53% in 2009 to 47% in 2018.</p>
        </div>
        <div class='step' id='step5'>
            <p>It's also tied for the wealthiest in the city with a median household income of $121,000, more than double the city's median of nearly $58,000.</p>
        </div>
        
    </div>
</div>

<div class='story-body'>
  <p>The regressions contradict New York’s dream of contributing zero waste to landfills by 2030, which was forged in 2015 with Mayor Bill de Blasio’s wide-reaching OneNYC <a href='https://www1.nyc.gov/office-of-the-mayor/news/257-15/mayor-de-blasio-releases-one-new-york-plan-strong-just-city#/0' target='_blank'>plan</a>. The city’s Zero Waste NYC program, an arm of the Department of Sanitation, has since been tasked with educating residents, which has so far included partnering with community institutions for events. DSNY also recently launched a lofty advertising <a href='https://www.nycrecycles.org/' target='_blank'>campaign</a> in the subway, complete with puns and innocuous graphics.</p>
      
  <p>Sociologists, environmental advocates and city officials are stumped as to why these five districts have reported decreases. But Adriana Espinoza, New York City Program director for the New York League of Conservation Voters, said it comes down to the program not being prioritized. Born out of the same OneNYC plan was <a href='https://www1.nyc.gov/content/visionzero/pages/' target='_blank'>Vision Zero</a> , the heavily marketed initiative to curb traffic accidents and fatalities.<p>

  <p>“Targeted community outreach and engagement is important, but we think there should be a city-wide public service initiative,” Espinoza said. “Basically the same as the way you see Vision Zero signs in the subways and at bus stops and on radio commercials.”</p>
</div>

<script src="scripts/pct_change.js"></script>
