<div class="story-body scrollytelling">
    <h2 class='chart-headline'>Poverty-struck Neighborhoods Lead Recycling Charge</h2>
    <p class='chart-description'>More affluent neighborhood's are recycling less than they did a decade ago. But the opposite is true for less affluent neighborhoods.</p>
    <input class="slider" id="myRange">
    <div id='slider-range'></div>
    <div id="chart-change" class='chart'></div>

    <div class='steps'>
        <div class='step' id='step1'>
            <p class='body-text'>Across the city, recycling is generally up. Ditsricts with high poverty levels are leading the charge.</p>
        </div>
        <div class='step' id='step1'>
            <p class='body-text'>A cluster of poverty-struck districts in the Bronx are recycling considerably more. It and Queens are the only two to have increases across the board.</p>
        </div>
        <div class='step' id='step2'>
            <p class='body-text'>But nine of the 59 districts are actually recycling less. Among these nine are the wealthiest in the city, including Manhattan's Community District 1.</p>
        </div>
        <div class='step' id='step2'>
            <p class='body-text'>The district has a median household income of $121,000, over double the city's median income. It's had the greatest percentage point decrease over the last decade in how much of it's waste it's recycling.</p>
        </div>
        <div class='step' id='step3'>
            <p class='body-text'>TEST TEST </p>
        </div>
    </div>
</div>

<div class="story-body">
    <h2 class='chart-headline'>Can I get just the Bronx to print?</h2>
    <p class='chart-description'>uhhhhh</p>
    <div id="bronx-chart"></div>
</div>

<div class="story-body">
    <h2 class='chart-headline'>A scatterplot of poverty vs recycling changes</h2>
    <p class='chart-description'>uhhhhh</p>
    <div id="scatter-districts"></div>
</div>

<div class="story-body">
    <h2 class='chart-headline'>Can I make a racing bar chart?</h2>
    <p class='chart-description'>uhhhhh</p>
    <div id="racing-bar-chart"></div>
</div>






<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

{{!-- <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.5/turf.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> --}}

<script src="scripts/pct_change.js"></script>
<script src="scripts/bronx-chart.js"></script>
<script src="scripts/scatter-districts.js"></script>
<script src="scripts/racing-bar-chart.js"></script>
