<div class="story-body scrollytelling">
    <h2 class='chart-headline'>Poverty-stricken Districts Lead the Charge</h2>
    <p class='chart-description'>They city is doing better as a whole, but certain districts have regressed in their recycling habits, hindering the the Department of Sanitation's <a href='https://www1.nyc.gov/assets/dsny/site/our-work/zero-waste' target='_blank'>ZeroWaste</a> dreams.</p>
    <input class="slider" id="myRange">
    <div id='slider-range'></div>
    <div id="chart-change" class='chart'></div>

    <div class='steps'>
        <div class='step' id='step1'>
            <p class='body-text'>The city as a whole has made a slight gain in its diversion rate, up from 21% of trash recycled in 2009 to 23% in 2018.</p>
        </div>
        <div class='step' id='step2'>
            <p class='body-text'>The push was fueled by the poverty-stricken districts that recycled considerably more, particularly in the Bronx.</p>
            <p class='body-text note'>**High poverty rate defined as greater than 15%</p>
        </div>
        <div class='step' id='step2'>
            <p class='body-text'>The Department of Sanitation's concerted education efforts with neighborhood institutions in the last decade helped bridge cultural barriers, such as language, in these areas, according to Espinoza.</p>
        </div>
        <div class='step' id='step3'>
            <p class='body-text'>But when it came to districts that are recycling less, the five culprits were spread across lower Manhattan, Staten Island and Brooklyn.</p>
        </div>
        <div class='step' id='step-'>
            <p class='body-text'>The two chart-topping districts were among the cluster of wealth-concentrated cluster in lower Manhattan and northwestern Brooklyn.</p>
            <p class='body-text note'>**High income defined as a district having a median household income of greater than $90,000. The city's median is nearly $58,000, per the Census.</p>
        </div>
        <div class='step' id='step4'>
            <p class='body-text'>These Manhattan districts, CD 1 and CD 6, faced the starkest drops.</p>
        </div>
        <div class='step' id='step5'>
            <p class='body-text'>The greatest fall was in the elite Community District 1, which contains Wall Street, Tribeca and Battery Park City. The district's recycling fell six percentage points, from 53% in 2009 to 47% in 2018.</p>
        </div>
        <div class='step' id='step5'>
            <p class='body-text'>The district is tied for the wealthiest in the city with a median household income of $121,000, more than double the city's median of nearly $58,000.</p>
        </div>
        
    </div>
</div>

{{!-- <div class="story-body">
    <h2 class='chart-headline'>A scatterplot of poverty vs recycling changes</h2>
    <p class='chart-description'>uhhhhh</p>
    <div id="scatter-districts"></div>
</div> --}}

<script src="scripts/pct_change.js"></script>
{{!-- {{!-- <script src="scripts/scatter-districts.js"></script> --}} --}}
