<div class="story-body">
    <h2 class='chart-headline'>Public bins and foreign borns</h2>
    <p class='chart-description'>Foreign-born residents have less access to public recycling resources, compared to native citizens. The redder, the higher percentage of residents of the borough who were not U.S. citizens at birth. This includes naturalized U.S. citizens, lawful permanent residents, temporary migrants, humanitarian migrants, and unauthorized migrants.</p>
    <div id="chart-2"></div>
</div>

<script src="scripts/chart-02.js"></script>