<div class="story-body">
    <h2 class='chart-headline'>Public bins</h2>
    <p class='chart-description'>Public bins</p>
    <div id="chart-2"></div>
</div>

<script src="scripts/chart-02.js"></script>