<div class='story-body-full'>
    <h2 class='chart-headline'>A Waste Bump Threatens The Zero Waste Progress</h2>
    <p class='story-body'>But New York’s waste problem runs deeper than recycling; piles of garbage line are known to line streets all throughout the boroughs, leaving a signature stench. A 2015 study found there's good reason for the both of these: New York is the most wasteful city in the world.</p>

    <p class='story-body'>The city emits more trash than any other megacity in the world, according to a 2015 <a href='https://www.pnas.org/content/pnas/112/19/5985.full.pdf' target='_blank'>study</a> that detailed energy and material flows of 27 megacities. The study found that the city that never sleeps produced about 34 megatons of waste in 2011, more than three times the second place Mexico City.</p>

    <p class='story-body'>The city has made meaningful gains in its recycling habits, but it’s still just a sliver when compared to the non-recycled waste. And a bump in waste emission in 2018 threatens what recycling gains have been made, indicating a slowdown for the first time in recent years.</p>
    
    <iframe title="" aria-label="Range Plot" id="datawrapper-chart-zxMnw" src="//datawrapper.dwcdn.net/zxMnw/4/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="280"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
</div>

<div class="story-body scrollytelling most-trash">
    <h2 class='chart-headline'>Trash by borough</h2>
    <div class='chart' id="chart-trash"></div>
    <div class='steps'>
        <p class='story-body step' id='step-1'><span id='label-brooklyn'>Brooklyn</span> spat out the most waste in 2018 by far. In the distance, <span id='label-Bronx'>The Bronx</span> is a drop in the bucket </p>
        <p class='story-body step' id='step-2'>But when it comes to the mean output of a borough's community districts, <span id='label-statenisland'>Staten Island</span> topples the rest.
        </p>
        <p class='story-body step' id='step-3'>Average  collected waste per acre</p>
        <p class='story-body step' id='step-4'>Percent recycled per acre</p>
    </div>
</div>

<script src="scripts/dot-plot.js"></script>
<script src='scripts/scrollytelling.js'></script>