<div class="story-body scrollytelling most-trash">
    <h2 class='chart-headline'>Trash by borough</h2>
    <div class='chart' id="chart-trash"></div>
    <div class='steps'>
        <p class='story-body step' id='step-1'><span id='label-brooklyn'>Brooklyn</span> spat out the most waste in 2018, with <span id='label-queens'>Queens</span> trailing not too far behind. But <span id='label-statenisland'>Staten Island</span> is immensively far off it terms of tons of waste collected.</p>
        <p class='story-body step' id='step-2'>But when it comes to the mean output of a borough's community districts, <span id='label-statenisland'>Staten Island</span> topples the rest.
        </p>
        <p class='story-body step' id='step-3'>Average  collected waste per acre</p>
        <p class='story-body step' id='step-4'>Percent recycled per acre</p>
        <p class='story-body step' id='step-5'>Poverty Rate</p>
        <p class='story-body step' id='step-6'>estimated pop</p>
    </div>
</div>

<script src="scripts/most-trash.js"></script>
<script src='scripts/scrollytelling.js'></script>