<div class="story-body">
  <p>You might expect the Financial district at the Wall Street are filled with highly-educated people who have mastered the practice of recycling. The truth is the rich could not care any less. </p>
  <p>Quisque commodo, orci a varius rhoncus, diam magna consectetur lectus, tincidunt consectetur lectus ipsum vel leo. Mauris in augue eu ex euismod facilisis ac quis ipsum.</p>
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="https://storage.needpix.com/rsynced_images/basket-2400069_1280.png"></p>
  <p>You might expect the Financial district at the Wall Street are filled with highly-educated people who have mastered the practice of recycling. The truth is the rich could not care any less.</p>
</div>
