<div class="story-body">
  <p>You might expect the Financial district at the Wall Street are filled with highly-educated people who have mastered the practice of recycling. The truth is that the rich are caring less and less about trash disposal. </p>
  <p>A volunteer at the nonprofit county recycling organization in Montana, Britting believed that the globalization of recycling catalyzed unprecedented challenges and doubts to local systems. "Back when it first started, people were optimistic about recycling," he remarked on <a href="https://abcnews.go.com/Technology/recycling-garbage-piling-recycling-industry/story?id=66863085">ABC News</a>, "Everyone thinks they’re being recycled, but recycling is a market-driven industry.”</p>
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="https://storage.needpix.com/rsynced_images/basket-2400069_1280.png"></p>
  <p>bbebebebbebeebbeeb.</p>
</div>
