<div class="story-body">
    <h2 class='chart-headline'>Wealthier Neighborhoods Have Curbed Their Recycling</h2>
    <p class='chart-description'>More affluent neighborhood's are recycling less than they did a decade ago. But the opposite is true for less affluent neighborhoods.</p>
    <div id='chart-1-legend'></div>
    {{!-- <div id="map"></div> --}}
    <div id="chart-1"></div>
</div>


<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.5/turf.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="scripts/chart-01.js"></script>

{{!-- <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2F3eWVyY2xpY2siLCJhIjoiY2p4bDlmc3FrMDN0MzN6bXIxZnVqbWJ0MCJ9.ZHH1d5rKkm5UXgpuk_hi3g';
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/light-v10', // stylesheet location
        center: [-73.935242, 40.73061],
        zoom: 12
    });
</script> --}}