<div class="story-body">
    <h2>Here is a chart</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-01.js</code> inside of this partial</p>
    <div id="chart-1"></div>
</div>

<script src="scripts/chart-01.js"></script>
{{!-- <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.5/turf.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script type="text/javascript">
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2F3eWVyY2xpY2siLCJhIjoiY2p4bDlmc3FrMDN0MzN6bXIxZnVqbWJ0MCJ9.ZHH1d5rKkm5UXgpuk_hi3g';

    var map = new mapboxgl.Map({
        container: 'chart-1',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [-95.6500523, 41.850033],
        zoom: 3.5
    });
    map.addControl(new mapboxgl.NavigationControl(), 'top-left');
</script> --}}
