<div class="story-body">
    <h2 class='chart-headline'>Boroughs and their recycling diversion rate over the past three years</h2>
    <p class='chart-description'>This ratio measures how much of the targeted materials are actually being recycled. According to this chart, <font color="#2ca02c" style="text-decoration: underline;">Bronx</font> and <font color="#9467bd" style="text-decoration: underline;">east Queens</font> have made the largest progress in successfully recycling garbage from 2016 to 2019. </p>
</div>

<p style="text-align:center;"><img src="images/borough_divesion_rate.svg" alt="Italian Trulli" style="width:500px;height:600px;"></p>
