<div class="story-body">
  <p>Deep in downtown Manhattan, where skyscrapers touch the heavens and crisp suits swagger around Wall Street, the city’s wealthiest have curbed their recycling habits.</p>
  <p>Five community districts across the city are recycling less of their waste than they were a decade ago, according to an analysis of the Department of Sanitation monthly collection <a href='https://data.cityofnewyork.us/City-Government/DSNY-Monthly-Tonnage-Data/ebb7-mvp5' target='_blank'>reports</a>. Among these districts are the wealthiest in the city, which the city’s targeted education campaigns glossed over.</p>

  <p>Department of Sanitation officials, sociologists, and enviornmental advocates are stumped as to why these five districts have reported decreases. But Adriana Espinoza, New York City Program Director at the New York League of Conservation Voters, said that </p>

</div>
