<div class="story-body">
    <h2 class='chart-headline'>Wealthier Neighborhoods Have Curbed Their Recycling</h2>
    <p class='chart-description'>More affluent neighborhood's are recycling less than they did a decade ago. But the opposite is true for less affluent neighborhoods.</p>
    <p id='value'></p>
    <input class="slider" id="myRange">
    <div id='slider-range'></div>
    <div id="chart-change"></div>
</div>

<div class="story-body">
    <h2 class='chart-headline'>Public bins</h2>
    <p class='chart-description'>Public bins</p>
    <div id="chart-2"></div>
</div>

<div class="story-body">
    <h2 class='chart-headline'>Correlations between number of bins and percentage of recycling by borough codes in 2018</h2>
    <p class='chart-description'>scatterplot</p>
    <div id="chart-3"></div>
</div>



<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.5/turf.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="scripts/pct_change.js"></script>
<script src="scripts/chart-02.js"></script>
<script src="scripts/chart-03.js"></script>