<div class='background-image'>
    <div class="header">
        {{!-- <p class="kicker">{{ kicker }}</p> --}}
        <h1 class="headline" id='headline'>{{ headline }}</h1>
        {{!-- <h2 class="subhead">{{ subhead }}</h2> --}}
        <p class="byline">By <a href='https://sawyerclick.github.io' target='_blank'>Sawyer Click</a>, Aseem Shukla and Frida Cai</p>
        <p class="date">Published {{ published_date }} | <a href='https://github.com/SawyerClick/NYC-Recycling' target='_blank'>Repo</a></p>
    </div>
</div>