<!doctype html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/scrollytelling.css">
  {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
  <link rel="shortcut icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/223/black-universal-recycling-symbol_267b.png" type="image/x-icon">
</head>
<body>
  {{> base/headline }}

  <main id='content'>

    {{{body}}}

    {{> base/footer }}
  </main>

  <!-- We'll always keep this JS file around -->
  <script src="scripts/vendor/ai2html-resizer.js"></script>

</body>
</html>